/* Your CSS Code here. */
.holder{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	
} 
.item{
	width:70px;
	height: 70px;
	background-color: green;
	font-size: 25px;
	
}